<div class="con">
  <table class="bordered-table">
    <thead>
      <tr>
        <th>name</th>
        <th>age</th>
        <th>details</th>
        <th>edit</th>
        <th>delete</th>
        <th>create</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let task of tasks; let i=index;">
        <td>{{task.name}}</td>
        <td>{{task.age}}</td>
        <td><button type="button" (click)="editButton(task.studentId)">view</button></td>
        <td><button type="button" (click)="editb(task.studentId)">edit</button></td>    
        <td><a title="delete" (click)="deleteButton(task.studentId)"><i class="fas fa-trash"></i></a></td>
        <td>
          <a title="create" (click)="create(task.studentId)" >  <i class="fas fa-plus"></i>
          </a></td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
</div>

